<div :class="contClass" id="app-root">
   <!-- 小屏区域 -->
   <div id="app-small" v-if="!full">
       <div id="app-menu" class="navbar navbar-inverse" :class="menuClass">
           <div class="container-fluid">
               <!-- 头部区域 -->
               <div class="navbar-header" id="app-menu-header">
                   <a class="navbar-brand" href="#">STI</a>
                   <button type="button" class="navbar-toggle collapsed" style="display: block;margin-right: 0px;" @click="collapse">
                        <span class="sr-only">收缩菜单</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                   </button>    
                </div>  
            </div>
            <div id="app-menu-cont">
                 <div class="list-group">
                      <a :href="menu.href" class="list-group-item" :class="{'active': menu.active}" :title="menu.title"
                         v-for="menu in menus" @click="selectMenu(menu)">
                          <i :class="menu.icon" class="fa" aria-hidden="true"></i>
                          <span v-text="menu.title"></span>
                      </a>                  
                </div>
            </div>              
       </div>

       <div id="app-main">
          <nav class="navbar navbar-default" id="app-main-header">
              <div class="container-fluid">
                  <form class="navbar-form navbar-left" style="padding-left:0px">
                     <div class="input-group">
                      <input type="text" class="form-control" placeholder="查找……">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                  </form>


                  <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown" :class="{'open' : opened}">
                         <a href="#" class="dropdown-toggle" @click="toggleAccount">
                             系统管理员<span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu">
                            <li><a href="#/index">修改密码</a></li>
                            <li><a href="javascript:void(0)">个人信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/index" @click="toggleTheme">切换主题</a></li>
                            <li><a href="#">退出</a></li>
                        </ul>
                     </li>
                  </ul>              
              </div>
          </nav>
          <div id="app-main-content">
            <!-- 导航 -->
            <!--
            <ol class="breadcrumb" style="background:none;">
              <li><a href="#">主页</a></li>
              <li><a href="#">系统配置</a></li>
              <li class="active">人员</li>
            </ol>
            -->
            <div class="container-fluid">
                <div class="page-header" style="margin:15px 0px;padding-bottom:1px;">
                  <h3 style="margin-top: 10px;">安全概览<small style="margin-left:15px;font-size:12px;">系统人员管理</small></h3>
                </div> 
                <router-view>
                </router-view>
            </div>
            
          </div>
       </div>
   </div>
   
   <!-- 大屏区域 -->
   <div id="app-big" v-if="full">
       <!-- 直接载入主题样式 -->
       <link rel="stylesheet" href="/static/cyborg/bootstrap.css">
       <router-view></router-view>
   </div>
   
   <!-- 辅助区域 -->
   <div id="app-alarms">
       <alert :duration="messages.duration" :type="messages.status">
           <div v-html="messages.text"></div>
       </alert>
   </div>     
</div>