/* 自定义样式区域 */

/* 告警区域 */
#app-alarms {
    position: fixed;
    width: 30%;
    min-width : 350px;
    max-width: 450px;
    top:    67px;
    right:  15px;
    z-index: 999;
    
    .alart {
        margin-bottom: 15px;
    }
}

#aFluid {
    padding: 0px 15px;
    
}

.sti-list-page {
    padding: 15px;
}
/* 查询区域 */
.sti-list-query {
   margin-bottom: 15px;
   min-height: 35px;
   
}

