<div class="sti-list-page">
    <div class="sti-list-query">
        <div class="pull-left">
            <button class="btn btn-default">新增</button>
        </div>
        <div class="pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="查询分类">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    
   <jq-grid url="/static/datas/jqgrid.json" col-size="3" :sub-grid="true">
       <jq-col label="分类名称" name="CategoryName" width="75" :sortable="true"></jq-col>
       <jq-col label="产品名称" name="CategoryName" width="90"></jq-col>
       <jq-col label="价格" name="Price" width="90" align="right"></jq-col>
   </jq-grid>

</div>